:root {
    --vp-home-hero-name-color: #41b883;
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
}

.VPTeamPageTitle .title {
    font-weight: revert;
}

.custom-block h2 {
    margin: 0;
    border-top: 0;
    padding-top: 10px;
}

.only-shown-in-light-theme {
    display: revert;
}

.only-shown-in-dark-theme {
    display: none;
}

.dark .only-shown-in-light-theme {
    display: none;
}

.dark .only-shown-in-dark-theme {
    display: revert;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #888888;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

:root {
    --vp-font-family-base: /* normal text font */
    --vp-font-family-mono: /* code font */
  }